html,
body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: var(--sl-font-sans);
}

.content {
  max-width: 800px;
  margin: auto;
  padding: 10%;
}

p {
  text-align: justify;
  font-size: 1.1rem;
}

team-member[avatar="assets/Portrait.jpg"] img {
  transform: scale(15.1);   /* zoom in face */
  object-position: 99% 45%; /* adjust framing */
}

.team-member-wrapper {
  display: flex;
  justify-content: center;     /* center all members horizontally */
  align-items: flex-start;      /* align tops consistently */
  gap: 60px;                    /* spacing between cards */
  text-align: center;
}


